/* card */

.el-card {
  border-color: transparent !important;
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.el-card__header {
  border-bottom: none !important;
}

.el-card__footer {
  border-top: none !important;
}

/* button */

.el-button {
  border-color: transparent !important;
}
