/* card */

.el-card {
  border-color: transparent !important;
}

.el-card__body {
  padding: 16px !important;
}

.el-card__header {
  border-bottom: none !important;
  padding: 16px !important;
}

.el-card__footer {
  border-top: none !important;
  padding: 16px !important;
}
